$primary-color: red;
$default-color: #444444;
$accent-color: #10bc69;
$nav-color: #5f687b;
$surface-color: color-mix(in srgb, #444444, transparent 96%); // background div content session
$label-color: color-mix(in srgb, #444444, transparent 40%);


// Darkmode
$nav-color-dark: rgb(239, 236, 236);
$default-color-dark: rgb(224, 221, 221);
$surface-color-dark: #ECEFF1;
$label-color-dark: color-mix(in srgb, rgb(224, 221, 221), transparent 40%);