$primary-color: #0d6efd;
$default-color: #1c375e;
$accent-color: #656769;
$nav-color: #212529;
// $nav-color: #5f687b;
// $surface-color: color-mix(in srgb, #444444, transparent 96%); // background div content session
// $label-color: color-mix(in srgb, #444444, transparent 40%);


