* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.banner{
    margin: 0px 70px;
    padding-top: 120px;
    display: flex;
    gap: 200px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.title {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
}
.input-search{
    position: relative;
}
.search {
  position: absolute;
  padding: 28px;
  width: 100%;
  border-radius: 10px;
  border: none;
}
.search::placeholder{
    font-size: 16px;
}
.btn-search{
    position: absolute;
    padding: 20px 24px;
    border-radius: 10px;
    border: none;
    background-color: #0d43ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    right: 8px;
    top: 7px;
     transition: all 0.3s ease;
}
.btn-search:hover{
   background-color: #0d41ffd7;
}
.data{
    display: flex;
    gap: 100px;
    margin-top: 80px;
    justify-content: center;
    font-weight:600;
    line-height: 60px;
    margin-bottom: 60px;
}
.data-number {
  text-align: center;
  font-size: 32px;
  /* position: relative; */
  color: #ffffff;
}

.data-title {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  position: relative;
}
.data-title::before{
 content: ""; /* Để thêm pseudo-element */
  background-color: #0d43ff;
  width: 20px;
  height: 4px;
  position: absolute; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
}

.banner-img{
    width: 500px;
    height: 400px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
