@media (max-width: 1024px) {
  .wrapper_weather {
    padding: 30px 20px;
  }
  .content__under--item {
    padding: 12px 24px;
  }
}
@media (max-width: 920px) {
  .content__under {
    flex-wrap: wrap;
  }

  .content__under--item:nth-last-child(1) {
    margin-top: 20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .content__above1 {
    flex-direction: column;
    gap: 12px;
  }
  .content__above2 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .content__city p {
    font-weight: 700;
    text-align: center;
  }
  .content__under--item {
    padding: 12px 18px;
  }
  .header h1 {
      font-size: 32px;
  }
  .content__under {
      gap: 20px;
  }
}
