@use "../../../styles/index" as style;

.about{
    padding: 0px 100px 12px 100px;
    &__container{
            @include style.flex(center, center);
            flex-direction: column;
            gap: 40px;
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        // width: 100%;
        text-align: center;
        // padding-bottom: 0;
        position: relative;
        z-index: 2;
        &--light{
            color: style.$nav-color;
            &::after{
                color: color-mix(in srgb, #000000, transparent 95%);
            }
        }
        &--dark{
            color: style.$nav-color-dark;
            &::after{
                color: color-mix(in srgb, #ffffff, transparent 85%);
            }
        }
        &::after {
            content: "ABOUT US";
            text-align: center;
            // width: 0;
            // height: 3px;
            // background-color: style.$accent-color;
            white-space: nowrap;
            position: absolute;
            opacity: 0.5;
            bottom: 20px;
            left: -60%;
            z-index: 1;
            font-weight: 700;
            font-size: 52px;
            text-transform: uppercase;
            line-height: 1;
        }
    }
    &__subtitle{
        margin-top: -50px;
        &--dark{
            color: style.$default-color-dark;
        }
    }
    &__content{
        display: flex;
        gap: 50px;
    }
    &__left{
        min-width: 300px;
        // height: 386px;
    }
    &__image{
        width: 100%;
        height: auto;
    }
    &__right{
        flex-direction: column;
        width: 640px;
        .about-text{
            font-size: 1.75rem;
            font-weight: 700;
            padding-bottom: 8px;
        }
        .text-italic{
            font-style: italic !important;
            font-size: 16px;
            padding-bottom: 8px;
        }
        ul,li{
            list-style-type: none;
            padding-bottom: 8px;
        }
        span{
            padding-left: 20px;
        }
        .icon-about{
            color: style.$accent-color;
        }
        &--light{
            .about-text {
                color: style.$nav-color;
            }
        }
        &--dark{
            .about-text{
                color: style.$nav-color-dark;
            }
            .text-italic, ul, p{
                color: style.$default-color-dark;
            }
        }
    }
    &__data{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 50px 0px 100px 0px;
        &--light{
            .about__label{
                color: style.$label-color;
            }
        }
        &--dark {
            .about__label {
                color: style.$label-color-dark;
            }
        }
    }
    &__item{
        text-align: center;
    }
    &__number{
        font-size: 48px;
        display: block;
        color: style.$accent-color;
        font-weight: 700;
    }
    &__label{
        font-size: 15px;
        font-weight: 600;
    }
}