@use "../../styles/index" as style;
button{
    border: none;
    padding: 16px 30px;
    background-color: style.$primary-color;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5%;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnLogOut{
    margin-left: 20px;
}