@use "../../../styles/index" as style;
.container-header-phone {
  display: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 36%;
  position: fixed;
  width: 100%;
  z-index: 999;
  // padding: 20px 0px;
  padding: 20px 100px 32px 100px;
  &__name {
    font-size: 30px;
    font-weight: 700;
    &--light {
      color: style.$nav-color;
    }
    &--dark {
      color: style.$nav-color-dark;
    }
  }
  &__main {
    display: flex;
    gap: 24px;
    position: relative;
  }
  &__item {
    list-style-type: none;
    :hover {
      color: style.$accent-color;
    }
    &--drop {
      &:hover .menu__sub-menu {
        display: block;
      }
    }
  }
  &__link {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
    width: fit-content;
    &--light {
      color: style.$nav-color;
    }
    &--dark {
      color: style.$nav-color-dark;
    }
  }
  &__sub-menu {
    position: absolute;
    
    margin-left: -10px;
    border-radius: 4px;
    
    display: none;
    &--light{
      box-shadow: 0px 0px 16px rgb(189, 188, 188);
      background-color: rgb(254, 254, 254);
      a{
        color: style.$nav-color;
      }
    }
    &--dark{
      background-color: #3e3c3c;
      a{
        color: white;
      }
    }

    li {
      list-style-type: none;
      line-height: 2.5;
      padding: 4px 18px;
    }
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &__main-second {
    position: relative;
    &:hover .menu__sub-menu-second {
      display: block;
    }
  }
  &__sub-menu-second {
    position: absolute;
    left: -180px;
    top: 0px;
    // background-color: red;
    // padding: 0px 20px;
    display: none;
    border-radius: 4px;
    
    &--light{
      box-shadow: 0px 0px 16px rgb(189, 188, 188);
        background-color: rgb(254, 254, 254);
    }
    &--dark{
      box-shadow: 0px 0px 16px rgb(206, 206, 206);
      background-color: #3e3c3c;
      a{
        color: white;
      }
    }
  }

  &__item {
    padding: 4px;
    &--toggle {
      list-style: none;
      width: 80px;
      border-radius: 20px;

      transition: transform 0.5s ease;
      &.light {
        background-color: style.$accent-color; // Đảm bảo biến được nhập
      }

      &.dark {
        background-color: #cc1111; // Màu tối mặc định
      }
    }
  }
  &__btn-light {
    border-radius: 30px;
    border: none;
    @include style.flex(center, center);
  }
  &__convert-light {
    font-size: 30px;
    padding: 4px;
  }
  &__btn-dark {
    border-radius: 30px;
    border: none;
    @include style.flex(center, center);
    transform: translateX(40px);
  }
  &__convert-dark {
    font-size: 30px;
    padding: 4px;
  }
}

.menu-light {
  background-color: white;
}
.menu-dark {
  background-color: black;
}

//=================MENU PHONE==================
.container-header-phone {
  padding: 20px 40px 20px 40px;
  position: fixed;
  &--light {
    background-color: #f9f9f9;
  }
  &--dark {
    background-color: black;
  }
}
.menu-phone {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  &__name-phone {
    font-size: 30px;
    font-weight: 700;

    &--light {
      color: style.$nav-color;
    }

    &--dark {
      color: style.$nav-color-dark;
    }
  }
  &__span {
    position: relative;
  }
  &__right {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    .menu_ht {
      position: relative;
      margin-top: 6px;
    }
    span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;

      border-radius: 3px;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    input {
      position: absolute;
      width: 40px;
      height: 30px;
      // top: 12px;
      // right: 136px;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(58, 57, 57, 0.559);
      z-index: 1;
      display: none;
    }
    &--light {
      span {
        background: #020202;
      }
    }
    &--dark {
      span {
        background-color: white;
      }
    }
  }
  &__item-phone {
    list-style-type: none;

    :hover {
      color: style.$accent-color;
    }
  }
  &__item-phone {
    padding: 4px;

    &--toggle {
      list-style: none;
      width: 80px;
      border-radius: 20px;

      transition: transform 0.5s ease;

      &.light {
        background-color: style.$accent-color; // Đảm bảo biến được nhập
      }

      &.dark {
        background-color: #cc1111; // Màu tối mặc định
      }
    }
  }
  &__link-phone {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    line-height: 30px;
    width: fit-content;

    &--light {
      color: style.$nav-color;
    }

    &--dark {
      color: style.$nav-color-dark;
    }
  }
  &__main-phone {
    width: 700px;
    height: max-content;
    display: none;
    border-radius: 24px;
    position: absolute;
    left: 40px;
    line-height: 60px;
    margin-top: 24px;
    padding: 12px 24px 12px;
    transform: translateX(80px);
    transition: transform 0.8s ease, opacity 0.5s ease;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.3);
    z-index: 2;
    &--light {
      background-color: #f9f9f9;
    }
    &--dark {
      background-color: #3e3c3c;
      a {
        color: #f9f9f9;
      }
    }
  }
}
input:checked + .menu-phone__span span:nth-child(1) {
  opacity: 0;
}

input:checked + .menu-phone__span span:nth-child(2) {
  transform: rotate(-45deg) translate(-2px, 6px);
}

input:checked + .menu-phone__span span:nth-child(3) {
  transform: rotate(45deg) translate(1px, -2px);
}
input:checked ~ .overlay {
  display: block;
}
input:checked ~ .menu-phone__main-phone {
  display: block;
  transform: translateX(-700px);
}
