/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* margin-left: 4px; */
/* padding: 40px; */

.bgCl--dark {
  background-color: black;
}
/* .main {
  padding: 20px 40px;
} */
 
