@media (max-width: 1030px) {
  :root {
    padding: 20px 60px;
  }

  .banner__left__title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }

  .banner__right {
    width: 800px;
    height: 360px;
  }

  .banner__left__paragraph {
    margin-bottom: 40px;
    width: 366px;
    line-height: 2;
    font-size: 16px;
  }

  .feature__above__heading {
    margin-bottom: 20px;
  }

  .feature__above {
    width: 70%;
  }

  .feature__main__img {
    position: absolute;
    top: 27%;
    left: -8%;
    width: 150px;
  }

  .feature__main__paragraph {
    font-size: 12px;
    width: 200px;
  }

  .feature__main__left {
    position: absolute;
    top: 12%;
    left: 38%;
  }

  .feature__main__title {
    margin-bottom: 8px;
  }

  .feature__main__imgBg {
    width: 350px;
  }

  .grid {
    column-gap: 100px;
  }

  .testimonials__heading {
    font-size: 32px;
  }
  .profile {
    display: flex;
    gap: 100px;
    margin-left: -59px;
  }
  .btnAdd {
    padding: 12px 60px;
  }
  .tags,
  .inTitle {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .banner {
    flex-direction: column-reverse;
  }

  .banner__left__title {
    letter-spacing: 2px;
    text-align: center;
  }

  .banner__right {
    width: 100%;
    height: 360px;
  }

  .banner__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner__left__paragraph {
    text-align: center;
    margin-bottom: 20px;
    width: 79%;
  }

  .feature {
    margin-top: 80px;
  }

  .feature__above__heading {
    margin-bottom: 8px;
    font-size: 30px;
  }

  .feature__above {
    width: 80%;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature__main__paragraph {
    font-size: 14px;
    width: 300px;
  }
  .feature__main__imgBg {
    width: 500px;
    height: 280px;
  }
  .feature__main__img {
    width: 200px;
  }
  .feature__main__left {
    left: 35%;
  }

  .testimonials {
    padding: 30px 40px 60px 40px;
    margin-top: 80px;
  }
  .testimonials__heading {
    font-size: 28px;
  }
  .testimonials__bg {
    padding: 20px 20px;
  }
  .profile {
    gap: 40px;
  }
  .btnAdd {
    padding: 12px 20px;
  }
  .tags,
  .inTitle {
    width: 150px;
  }
  .menuProfile {
    width: 120px;
  }
}

@media (max-width: 768px) {
  .banner__right {
    height: 300px;
  }
  .banner__left__title {
    font-size: 25px;
  }
  .banner__left__paragraph {
    width: 100%;
  }
  .feature__above__heading {
    font-size: 25px;
  }
  .feature__main__title {
    font-size: 20px;
  }
  .feature__main__img {
    width: 180px;
  }
  .feature__main__imgBg {
    width: 440px;
  }
  .feature__main__paragraph {
    font-size: 12px;
    width: 240px;
    text-align: justify;
  }
  .testimonials__heading {
    font-size: 24px;
  }
  .testimonials__bg {
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .testimonials__left {
    width: 100%;
    text-align: center;
  }
  .footer__above {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__item:nth-child(4) {
    margin-top: 20px;
  }
  .footer__item ul li {
    font-size: 14px;
  }
  .btnProfile {
    align-items: center;
    gap: 20px;
  }
  .content {
    padding: 20px 20px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .menuProfile {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .btnAdd {
    height: 40px;
    margin-right: 80px;
  }

  .menuProfile {
    height: auto;
  }
}

@media (max-width: 575px) {
  :root {
    padding: 20px 20px;
  }
  button {
    padding: 12px 20px;
    font-size: 12px;
  }
  .banner__right {
    height: 220px;
  }
  .banner__left__paragraph {
    font-size: 14px;
  }

  .feature {
    margin-top: 80px;
  }
  .feature__above {
    width: 100%;
  }
  .feature__above__paragraph {
    font-size: 14px;
  }
  .feature__main__img {
    position: static;
  }
  .feature__main__left {
    position: static;
    text-align: center;
    margin-top: 12px;
  }
  .feature__main__imgBg {
    height: 350px;
    width: 100%;
  }
  .feauture__main__content {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature__main__img {
    width: 120px;
  }
  .feature__main__title {
    font-size: 16px;
  }
  .feature__main__more {
    font-weight: 700;
  }
  .testimonials__left__des {
    font-size: 14px;
  }
  .footer__item:nth-child(1) {
    width: 100%;
  }
  .footer__item:nth-child(4) {
    width: 100%;
    margin-top: 0px;
  }
  .footer__above {
    justify-content: start;
    row-gap: 30px;
    column-gap: 40px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1px;
  }
  // .inTitle,
  // .tags {
  //   display: block;
  //   width: 100%;
  //   /* Điều chỉnh kích thước nếu cần */
  //   margin-bottom: 10px;
  //   /* Thêm khoảng cách giữa các phần tử */
  // }
  .btnAdd {
    height: 40px;
    margin-right: 0px;
    padding: 12px 40px;
  }
  .tags,
  .inTitle {
    width: 100%;
    margin-bottom: 12px;
  }
  .btnProfile {
    align-items: center;
    gap: 10px;
    flex-direction: column-reverse;
  }
  .tableProfile th:nth-child(3),
                                    /* Ẩn tiêu đề cột */
                                    .tableProfile td:nth-child(3) {
    /* Ẩn dữ liệu trong cột */
    display: none;
  }
  .tableProfile th:nth-child(4),
                                                                        /* Ẩn tiêu đề cột */
                                                                        .tableProfile td:nth-child(4) {
    /* Ẩn dữ liệu trong cột */
    display: none;
  }
}
