@media (max-width: 1025px) {
  .session {
    gap: 60px;
  }

  .session__item__title {
    text-align: center;
    /* color: red; */
  }

  .describe--item__left__title,
  .describe--item__left__showCase {
    padding: 0 60px;
  }
  .session {
    padding: 100px 60px;
  }
  .register {
    height: 32vh;
  }
}

@media (max-width: 992px) {
  .describe--item__left__title,
  .describe--item__left__showCase {
    padding: 0 28px;
  }
  .describe--item__left__showCase {
    font-size: 18px;
  }
  .footer {
    padding: 40px 100px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 72vh;
  }
  .session {
    flex-direction: column;
  }
  .describe--item {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 40px;
  }
  .describe--item:nth-child(2) {
    flex-direction: column;
    gap: 20px;
    /* margin-bottom: 40px; */
  }
  .review__content {
    flex-direction: column;
    gap: 40px;
  }
  .footer {
    flex-direction: column;
    gap: 24px;
  }
}

@media (max-width: 575px) {
  .header {
    padding: 20px 60px;
  }
  .banner {
    height: 60vh;
  }
  .banner h1 {
    font-size: 28px;
    color: #fff;
    position: relative;
    z-index: 8;
    width: 95%;
    margin: 0 auto;
    line-height: 40px;
  }
  .session__item__title {
    font-size: 20px;
  }
  .session__item__des {
    font-size: 16px;
  }
  .session__item__icon {
    font-size: 40px;
  }
  .register__h1 {
    font-size: 28px;
    width: 95%;
  }
  .review__title {
    font-size: 28px;
  }
  .describe--item__left__title {
    font-size: 20px;
  }
  .describe--item__left__showCase {
    font-size: 16px;
  }
  .review__title {
    font-size: 22px;
  }
  .review {
    padding: 60px 0px;
  }
  .review__content--item__img {
    width: 10rem;
    height: 10rem;
  }
  .footer {
    padding: 40px 0px;
  }
  .footer__menu a, .footer__menu p  {
    font-size: 12px;
}
}
