
.container-products{
    margin-top: 12px;
    border: 1px solid black;
    width: max-content;
    border-radius: 12px;
    padding: 24px 40px 24px 32px;
    margin-bottom: 24px;
}
.row-product, .row-cart{
    display: flex;
    gap: 24px;
    align-items: center;
}
.row-product, .row-cart{
    margin-top: 12px;
}
.btnAddToCart{
    border-radius: 8px;
    padding: 8px 24px 8px 24px;
}
.icon-box{
    color: #ffcd7f;
}

.row-cart button{
    border-radius: 8px;
    width: 44px;
    padding: 8px 0px;
    font-weight: bold;
}
.container-cart{
    border: 1px solid black;
    width: max-content;
    border-radius: 12px;
    padding: 24px 40px 24px 32px;
    margin-bottom: 24px;
}
.icon-bag{
    color: #039de5;
}