@use "../../../styles/index" as style;
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 100px 12px 100px;
    &--dark{
      background-color: black;
    }
    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 58px;
      &--light{
        color: style.$nav-color;
      }
      &--dark{
        color: style.$nav-color-dark;
      }
    }
    &__description{
      font-size: 20px;
      font-weight: 400;
      line-height: 60px;
      &--light{
        color: color-mix(in srgb, style.$default-color, transparent 30%);
      }
      &--dark{
          color: color-mix(in srgb, style.$default-color-dark, transparent 30%);
      }
    }
    &__image-wrapper{
          // max-width: 600px;
          min-width: 300px;
          // height: 520px;
    }
    &__image{
      width: 100%;
      height: auto;
    }
    &__button{
      &--started{
        background-color: style.$accent-color;
        color: white;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 12px 28px;
        border-radius: 50px;
        transition: 0.5s;
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
      }
    }

}
